@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,700;1,800&display=swap');



.contact_heading {
  margin: 10px;
    text-align: start;
    color: grey;
}
  .contactform .mb-3{
    margin: 10px;
}
  

.contactform {
    margin: 20px;
    padding: 10px 0;
    
    

}

.contactform div {
    display: flex;
    flex-direction: column;
    width: 350px;

}

#emailHelp{
    margin: 0 0 5px 0;
    font-family:"Fira sans" ;
    font-size: 10px;
}



.contactform .form-control{
    margin: 5px 0;
    border-radius: 5px;
    
}

.contactform .form-check {

    display: flex;
    flex-direction: row;
}

.form-check-label {
    margin: 0px 5px;
}


.form-label {
    font-size: 15px;
    font-family: Arial;

}

.buttons{
    text-align: center;
   /* margin: 20px;
   padding: 5px; */
}
.btn{
    margin: 5px;
    padding: 2px;
    width: 60px;
    height: 25px;
   border: 0cap;
    border-radius: 10px;
    background-color: rgb(39, 104, 224);
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    color: white;
}


.btn:hover{
    background-color: white;
    color: rgb(41, 147, 189);
}
